.gradient-color-picker {
    border: 2px solid var(--border-color);
}

.preset-button {
    border: 1px solid var(--border-color);
}

.header-osd windowcontrols button image {
  border: 0px solid var(--border-color);
}

.osd-box {
    border: 1px solid var(--border-color);
}
